/* MainNav.js */
.logo-container {
    position: relative;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    background-color: white; /* Ensure the background color is set */
}
  
.logo-image {
    position: absolute;
    top: -23px;
    transform: translateX(-21%);
    width: 100px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
}



/* search.js */
.large-placeholder::placeholder {
    font-size: 2rem;
    transform: translateY(18%);
}


/* history.js */
.larger-list-group-item {
    font-size: 2rem; 
}
